@import "bootstrap/dist/css/bootstrap.css";


body {
    background-color: white;
}

.submit-button{
    background-color: #ECB10C;
    color: black;
;
}

p{
    font-family: Serif, serif;
    font-weight: bold;
}
